/CriticalThinking1/cmake-build-debug/.cmake/
/CriticalThinking1/cmake-build-debug/.settings/
/CriticalThinking1/cmake-build-debug/CMakeFiles/
/CriticalThinking1/cmake-build-debug/Testing/
/CriticalThinking1/cmake-build-debug/.cproject
/CriticalThinking1/cmake-build-debug/.ninja_deps
/CriticalThinking1/cmake-build-debug/.ninja_log
/CriticalThinking1/cmake-build-debug/.project
/CriticalThinking1/cmake-build-debug/build.ninja
/CriticalThinking1/cmake-build-debug/cmake_install.cmake
/CriticalThinking1/cmake-build-debug/CMakeCache.txt
/CriticalThinking1/src/.project
/CriticalThinking1/src/.cproject
/CriticalThinking1/src/.settings/
/Discussion1/out/
/fmt_test/
/fprintf/